.text-1 {
    font-size: 25px;
    font-weight: 600;
}
.text-2 {
    font-size: 15px;
    font-weight: 400;
}

.text-3 {
    font-size: 20px;
    font-weight: 600;
}

.selections:hover {
    cursor: pointer;
}

.view-btn:hover{
    cursor: pointer;
}

.upcoming-classes:hover{
    cursor: pointer;
}

.text-2:hover, .text-1:hover {
    cursor: pointer;
}