.drawer{
    margin-top: 60px;
    /* background-color: aqua; */
}

.user-name {
    font-size: 20px;
    font-weight: 400;
    color: white;
    padding: 5px;
}

/* Hide scrollbar */
::-webkit-scrollbar {
    width: 0; /* Remove scrollbar width */
  }
  
  ::-webkit-scrollbar-thumb {
    display: none;
  }
  
  body {
    overflow-y: auto; /* Allow scrolling without visible scrollbar */
  }
  